#back {
  cursor: pointer;
}

.product-item {
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px rgb(224, 221, 221);
  padding: 5px;
}

.product-1 img {
  width: 100px;
  height: 100%;
}

.product-1 {
  display: flex;
  align-items: center;
}

.product-detail {
  margin-left: 40px;
}

.product-detail p {
  width: 190px;
}

.product-2 {
  width: 70%;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price {
  transform: translateY(8px);
  color: black;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0edea;
  border-radius: 80px;
}

.quantity p {
  transform: translateY(8px);
  font-size: 20px;
}

.increase,
.decrease {
  padding: 0px 15px;
  font-size: 25px;
  cursor: pointer;
}

.checkout,
.basketTotal {
  display: flex;
  justify-content: flex-end;
}

.checkout h4,
.basketTotal {
  padding: 6px 15px;
  background-color: #f58617;
  border-radius: 10px;
  cursor: pointer;
}
.basketTotal {
  background-color: transparent;
}

@media (max-width: 375px) {
  .product-detail {
    margin-left: 0px;
  }
  .product-1 img {
    width: 70px;
  }

  .item-name {
    font-size: 16px;
  }
  .product-detail p {
    font-size: 14px;
  }
  .price {
    font-size: 16px;
  }
  .increase,
  .decrease {
    padding: 0px 10px;
    font-size: 18px;
  }

  .checkout h4,
  .basketTotal h4 {
    font-size: 18px;
  }
}
